<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sistema de Análise de Créditos - Conductor</title>
<meta name="description" content="Tela inicial do sistema de Serviços da empresa Conductor">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
<link rel="stylesheet" href="app/styles/main.css">
<link rel="icon" href="app/images/logo.ico">
</head>


<div ng-include="'app/views/header.html'"></div>

<div class="container">
	<div class="row content checkordem">
		<h3>Atualizar Portador</h3>
		<hr />
		<form ng-submit="atualizarPortador(portadorEdicao)">
			<div class="form-group">
				<label for="portadorId">ID:</label> <input type="text" name="portadorId" id="portador_id" ng-model="portadorEdicao.id"
					class="form-control" disabled>
			</div>
			<div class="form-group">
				<label for="nome">Nome:</label> <input type="text" name="nome" id="portador_nome" ng-model="portadorEdicao.nome" class="form-control" maxlength="250" required>
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email" name="email" id="portador_email" ng-model="portadorEdicao.email" class="form-control" maxlength="250" required>
			</div>
			<div class="form-group">
				<label for="endereco">Endereço:</label> <input type="text" name="endereco" id="portador_endereco" ng-model="portadorEdicao.endereco" maxlength="250"
					class="form-control" required>
			</div>
			<div class="form-group">
				<label for="rg">RG:</label> <input type="text" class="form-control" name="rg" maxlength="250" ng-model="portadorEdicao.rg" id="portador_rg" required>
			</div>
			<div class="form-group">
				<label for="cpf">CPF:</label> <input type="text" name="cpf" id="portador_cpf" ng-model="portadorEdicao.cpf" class="form-control"
					maxlength="250" placeholder="Insira o cpf do portador seguindo o formato: 491.681.111-26" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
			</div>
			<div class="form-group">
				<label for="dataNascimento">Data de Nascimento:</label> <input type="date" class="form-control" name="dataNascimento"
					ng-model="portadorEdicao.dataNascimento" id="portador_data_nascimento" required>
			</div>
			<div class="form-group">
				<label for="telefone">Telefone para Contato:</label> <input type="text" class="form-control" name="telefone" maxlength="250"
					ng-model="portadorEdicao.telefone" id="portador_telefone" required>
			</div>
			<div class="form-group">
				<label for="profissao">Profissão:</label> <input type="text" name="profissao" maxlength="250" id="portador_profissao" ng-model="portadorEdicao.profissao"
					class="form-control" required>
			</div>
			<div class="form-group">
				<label for="salario">Faixa Salarial:</label> <input type="text" name="salario" maxlength="250" id="portador_salario" ng-model="portadorEdicao.salario"
					class="form-control" required>
			</div>
			<div class="form-group">
				<label for="spc">No SPC:</label>
				<select name="spc" id="spc_portador" class="form-control" ng-model="portadorEdicao.spc" required>
					<option value="" selected disabled>---Por favor selecione---</option>
					<option value="Sim">Sim</option>
					<option value="Não">Não</option>
			    </select>
			</div>
			
			<button type="submit" class="btn btn-success btn-space pull-right">Editar</button>
			
			<a class="btn btn-primary  btn-space pull-right" href="/conductor/#!/"> Voltar</a>
		</form>
	</div>
</div>
<hr />

</html>