.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	padding: 0;
}

/* Todos menos o  jumbotron recebe um espaçamento a mais para suporte a visualização mobile */
.header, .marketing {
	padding-left: 15px;
	padding-right: 15px;
}

/* header customizado */
.header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0px;
}
/* Faz a heading do masthead ter o mesmo tamanho do da navegação */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* footer customizado da página */
.footer {
	padding-top: 19px;
	border-top: 1px solid #e5e5e5;
}

.total {
	color: #428bca;
}

/* Ajuste do footer */
footer {
	background-color: #e7e7e7;
	color: #555;
	padding: 15px;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Ajusta tamanho da atualização e criação da ordem */
.attordem, .createordem {
	min-height: 800px;
}

/* Ajusta tamanho da verificação da ordem */
.checkordem {
	min-height: 1000px;
}

/* Mensagem principal de marketing e botão de logar */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Suporte para conteúdo de marketing */
.marketing {
	margin: 40px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Responsividade: Para tablets */
@media screen and (min-width: 768px) {
	.container {
		max-width: 99%;
	}

	/* Remove o padding que foi setado anteriormente */
	.header, .marketing {
		padding-left: 0;
		padding-right: 0;
	}

	/* Espaçamento no masthead*/
	.header {
		margin-bottom: 0px;
	}
	/* Remove a borda inferior do jumbotron para efeitos visuais */
	.jumbotron {
		border-bottom: 0;
	}
}

/* Responsividade: Para tablets */
@media screen and (max-width: 768px) {
	.logout {
		float: left !important;
	}
}

/* Não ajustar tamanho do textarea */
textarea {
	resize: none;
}

.mt-12 {
	margin-top: 25px;
}

/* pequeno espaço entre botões*/
.btn-space {
	margin-right: 5px;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input, form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login]>div {
	text-align: center;
}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}

.form-links a {
	color: #fff;
}